@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.task {
  padding: 20px 50px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

button {
  padding: 6px 10px;
  outline: none;
  border: none;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
  color: white;
}

.task__startstop {
  background: #4c6fff;
}

.task__startstop:hover {
  background: #375ffd;
}

.task__finished {
  background: #66cb9f;
  margin: 0 5px;
}

.task__finished:hover {
  background: #38c487;
}

.task__delete {
  background: #ff5b5b;
}

.task__delete:hover {
  background: #fc4141;
}
